@font-face {
    font-family: MesloLGS;
    src: url('fonts/MesloLGS\ NF\ Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: MesloLGS;
    src: url('fonts/MesloLGS\ NF\ Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: MesloLGS;
    src: url('fonts/MesloLGS\ NF\ Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: MesloLGS;
    src: url('fonts/MesloLGS\ NF\ Bold\ Italic.ttf');
    font-weight: bold;
    font-style: italic;
}

:root{
    --foreground: #ebdbb2;
    --background: #282828;
    --selection_foreground: #282828;
    --selection_background: #ebdbb2;

    --active_tab_background: #282828;
    --inactive_tab_background: #282828;
    --active_tab_foreground: #ebdbb2;
    --inactive_tab_foreground: #ebdbb2;
    
    --active_border_color: #fbfcfc;

    --c0: #928374; --c8: #282828;
    --c1: #fb4934; --c9: #cc241d;
    --c2: #b8bb26; --c10: #98971a;
    --c3: #fabd2f; --c11: #d79921;
    --c4: #83a598; --c12: #458588;
    --c5: #d3869b; --c13: #b16286;
    --c6: #8ec07c; --c14: #689d6a;
    --c7: #ebdbb2; --c15: #a89984;
    background-color: var(--background);
    font-family: MesloLGS, monospace;

}
::placeholder {
    color: var(--foreground);
    opacity: 25%;
}
c0{ color: var(--c0) } c8{ color: var(--c8) }
c1{ color: var(--c1) } c9{ color: var(--c9) }
c2{ color: var(--c2) } c10{ color: var(--c10) }
c3{ color: var(--c3) } c11{ color: var(--c11) }
c4{ color: var(--c4) } c12{ color: var(--c12) }
c5{ color: var(--c5) } c13{ color: var(--c13) }
c6{ color: var(--c6) } c14{ color: var(--c14) }
c7{ color: var(--c7) } c15{ color: var(--c15) }

bc0{ background-color: var(--c0) } bc8{ background-color: var(--c8) }
bc1{ background-color: var(--c1) } bc9{ background-color: var(--c9) }
bc2{ background-color: var(--c2) } bc10{ background-color: var(--c10) }
bc3{ background-color: var(--c3) } bc11{ background-color: var(--c11) }
bc4{ background-color: var(--c4) } bc12{ background-color: var(--c12) }
bc5{ background-color: var(--c5) } bc13{ background-color: var(--c13) }
bc6{ background-color: var(--c6) } bc14{ background-color: var(--c14) }
bc7{ background-color: var(--c7) } bc15{ background-color: var(--c15) }

cli {
    font-family: MesloLGS, monospace;
    font-size: 10;
    font-weight: normal;
    color: var(--c7);
}

fetch {
    font-family: MesloLGS, monospace;
    font-size: 15;
    font-weight: normal;
    color: var(--c7);
    text-align: justify;
}

cat {
    font-family: MesloLGS, monospace;
    font-size: 15;
    font-weight: normal;
    color: var(--c7);
    text-align: justify;
}

comment {
    font-family: MesloLGS, monospace;
    font-size: 10;
    color: var(--c2)
}

body {
    font-family: MesloLGS, monospace;
    color: var(--foreground);
    background-color: var(--background);
    user-select: var(--selection_background);
}

tab {
    display: inline-block;
    margin-left: 2em;
}

input {
    font-family: MesloLGS, monospace;
    color: var(--foreground);
    background-color: var(--background);
    user-select: var(--selection_background);
    border: 0;
    outline: none;
    width: 90%;
}

.embed {
    float: right;
    margin-left: 35px;
    position: absolute;
}
.hidden {
    display: none;
}

hr {
    border: none;
    border-top: 5px dotted var(--foreground);
    height: 1px;
    width: 100%;
}